<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>BASE_DOMAIN</key>
	<string>$(BASE_DOMAIN)</string>
	<key>ENABLE_LOGGING</key>
	<string>$(ENABLE_LOGGING)</string>
	<key>DB_ENCRYPTION_ENABLED</key>
	<string>$(DB_ENCRYPTION_ENABLED)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.gitpulse</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gitpulse</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
